# SSL certificates
**/server_cert.key
**/server_cert.crt

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.vscode
# Thumbnails
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# =========================
# Cache-type files
# =========================

*.pyc
*.rst~
*.code-workspace
docs/_build/
docs/build/

# neurodynlib notebook checkpoints
cxsystem2/neurodynlib/tutorial/.ipynb_checkpoints

# =========================
# Test and build files
# =========================
.pytest_cache
tests/__pycache__
tests/temp_output_files
tests/temp_connection_files
cxsystem2.egg-info
dist
build
.eggs

# Developer files
test_notebooks/

# Output data files which may be big

