[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"brian2" = "*"
"brian2genn" = "*"
paramiko = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
scipy = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.7"
