wheel
requests
asn1crypto
bcrypt
brian2
brian2genn
cffi
cryptography
cycler
cython
django
django-extensions
django-sslserver
docopt
ipython
jinja2
kiwisolver
markupsafe
matplotlib
mpmath
numpy >= 1.16.5
pandas
ping3
paramiko
pycparser
pynacl
pyopenssl
pyparsing
python-dateutil
pycparser
pytz
scipy
scp
six
sqlparse
sympy
werkzeug
sphinx
sphinx-rtd-theme
pyyaml