
.download_config {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.load_config {
    margin-top: 10px;
    margin-left: 20px;
}

.overviewlines {
    display: inline;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
}

.content {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-items: center;
    border: 1px solid #dddddd;
}

.main_tabs {
    /* border: 1px solid #cccccc; */
    display: flex;
    background-color: #f2f2f2;
}

.tabs__topbar {
    flex-shrink: 0;
    background-color: #008CBA;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.tabs__button {
    margin-right: -5px;
    /* margin-top: 5px; */
    margin-bottom: 0px;
    background-color: #333;
    border: 1px solid #fffdfd;
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 30px; */
}

/* .tabs__button--active{
    border: 1px solid #555555;
} */

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
    /* border: 1px solid #cccccc; */
    background-color: #f2f2f2;
}

.tabs__content--active {
    display: block;

}

.tabs__content > :first-child {
    margin-top: 0;
}


.td_editbox {
    border: none;
}

.overview_table {
    border: 2px;
}

.table__savebutton {
    display: none;
}


label + p {
    margin-top: 0px !important;
}

label > input {
    margin-right: 3px !important;
}

/* button[type="button"]{
margin-left: -20px !important; 
margin-bottom: 0px !important; 
} */

a > span {
    font-size: 12px !important;

    color: white;
}

dd > a {
    border: 1px solid #333 !important;
    background-color: #008CBA !important;
    margin-bottom: 2px;
    font-weight: bold;
}

dd {
    width: 150px !important;

}

dl + div > div {
    margin-left: 50px !important;
    /* margin-top: -50px !important; */
}

.tabs.vertical {
    max-width: 50% !important;
    width: 200px !important;
    /*overflow-x: hidden;*/
    overflow-y: auto;
    max-height: 70vh;
}

.tabs-content.vertical {
    max-width: 80vw !important;
    width: 60vw !important;
}

dd > a {
    padding: 10px !important;
    width: 180px !important;
}

input + a {
    margin-right: 10px !important;
}


a.disable {
    pointer-events: none;
    cursor: default;
}

dd.active > a {
    background: #333 !important;
}

button.tabs__button--active {
    background: #008CBA !important;
}

#welcome {
    margin-right: 20px;
    background: #333 !important;
}

.swal2-content {
    font-size: 1em !important;
    padding: 10px !important;
}

#simulation_status {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 40%;
    height: 200px;
    border: solid #333;
    z-index: 2;
    resize: both;
    overflow: auto;
    background-color: #333;
}

#simulation_status_texts {
    color: white;
    padding: 5px;
}

#simulation_statusheader {
    display: block;
    padding: 2px;
    position: fixed;
    width: calc(40% - 5px);
    cursor: move;
    z-index: 3;
    text-align: center;
    background-color: #2196F3;
    color: #fff;
}
